*.aux
*.out
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.blg
*.p
*.pyc
*~
*.mem
__pycache__
_build
*.cost
.idea/
.vscode/
venv/
.DS_Store
Manifest.toml
test/solution_dumps
checkpoints/
compressed_traces/
LocalPreferences.toml
model_checkpoints/
model_stats/
.CondaPkg/
embeddings_cache/
wandb/
solution_dumps/
